[Unit]
Description=HTTP Server
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/opt/lab4-service/service.sh
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
